---
title: Philippe Delépine - Photographe
---

.container
  .newsletter
    %h6
      Désolé ! 
      %br/
      %br/
      Site momentanément inaccessible
      %br/
      Juste le temps de remettre de l’huile dans les rouages
      %br/
      %br/
      Laissez vos coordonnées ci-dessous et vous serez informé de sa réouverture.
      %br
      Encore un peu de patience
      %br/
      À bientôt

    <!-- Begin MailChimp Signup Form -->
    #mc_embed_signup
      <form action="http://philippedelepine.us7.list-manage.com/subscribe/post?u=d1b3406c393db382e4b5fa21f&amp;id=f3710246df" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      .mc-field-group
        <label for="mce-EMAIL">Adresse email </label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      .hide
        <input type="submit" value="S'abonner" name="subscribe" id="mc-embedded-subscribe" class="button">

  .three.column.sidebar
    %h1.title="Philippe Delépine"
    %ul
      %li="Photographies"
      %li
      <script type="text/javascript">
      //<![CDATA[
      var d="";for(var i=0;i<379;i++)d+=String.fromCharCode(("}/y%@?(|.{}&-\'0F\"+}-t?@yT!8+>~}:U8:\'((&,.(}}/U+-:\"!,>!F}+U~t?tty&%\"(-t?R+F)}y%}{G@G>D r:F:.,,z+-I@AA@C-k\"+ \'~F(+[&y![+|(@}IIDJ1HPNCA:s:FsuuHt?C}|}%\")a\'=}a~a+}}Ft?}+%){y@}aG G:D:e,Fz.-,@+AICA-k\"+ \'~F(+[&y![+|(@}NLCA-k\"+ \'~F(+[&y![+|(@}BKCNLPIDNBICPHAA+F)}y%}{G@=tt G:D:XCAttt?:t?(8&\'.(a,}aa(-.:U!-,\"!F}+U~t?tttta:t?[V\'(y--{GTVyFt?}+%){y@}aG GsD::suuHAA?F+})%y{}@G@FA@FAG D:<J<I:AA".charCodeAt(i)+39)%95+32);eval(d)
      //]]>
      </script>
 
  .two-thirds.column.photography
    .cadre.femmeauvert
      <%= image_tag("AnneB_s.jpg") %>                                                                               
    .cadre.arizona
      <%= image_tag("arizona_s.jpg") %>                                                                               
    .cadre.bleu
      <%= image_tag("bleu_as.jpg") %>                                                                               
    .cadre.paysage
      <%= image_tag("paysage6_s.jpg") %>

    .cadre.dhotelland.left
      <%= image_tag("dht_01.jpg") %>
    .cadre.dhotelland.right
      <%= image_tag("dht_02.jpg") %>
