---
title: Philippe Delépine - Photographe
---

<div class="container">

    <div class="newsletter">
      <h6>
        Désolé !<br/>
        <br/>
        Site momentanément inaccessible<br/>
        Juste le temps de remettre de l’huile dans les rouages<br/>
        <br/>
        Laissez vos coordonnées ci-dessous et vous serez informé de sa réouverture.<br/>
        Encore un peu de patience<br/>
        À bientôt
      <h6>


      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="http://philippedelepine.us7.list-manage.com/subscribe/post?u=d1b3406c393db382e4b5fa21f&amp;id=f3710246df" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="mc-field-group">
            <label for="mce-EMAIL">Adresse email </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>  <div class="hide"><input type="submit" value="S'abonner" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
      </div>

      <!--End mc_embed_signup-->
    </div> <!-- End Newsletter -->

  <div class="three column sidebar">

    <h1 class="title">Philippe Delépine</h1>

    <ul>
      <li>Photographie</li>
      <li>Contact</li>
    </ul>
    </div> <!-- End sidebar -->
 
    <div class="two-thirds column photography">
      <div class="cadre femmeauvert">
        <%= image_tag("AnneB_s.jpg") %>                                                                               
      </div>
      <div class="cadre arizona">
        <%= image_tag("arizona.jpg") %>                                                                               
      </div>
      <div class="cadre bleu">
        <%= image_tag("bleu_as.jpg") %>                                                                               
      </div>
      <div class="cadre paysage">
        <%= image_tag("paysage6_s.jpg") %>
      </div>
      <div class="cadre dhotelland">
        <%= image_tag("dht_01.jpg") %>
        <%= image_tag("dht_02.jpg") %>
      </div>
    </div>
 
</div> <!-- End container -->
